         
         {% load static %}
         
         <!-- Footer Section Start -->
            <footer class="footer-wrap">
                <div class="footer-top">
                    <img src="{% static "users/assets/img/footer-shape-2.png" %}" alt="Image" class="footer-shape-one moveHorizontal">
                    <img src="{% static "users/assets/img/sun-2.png" %}" alt="Image" class="footer-shape-two rotate">
                    {% comment %} <img src="{% static "users/assets/img/bird.html" %}" alt="Image" class="footer-shape-three flyLeft"> {% endcomment %}
                    <div class="container">
                        <div class="row pt-100 pb-75">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 pe-xl-5">
                                <div class="footer-widget">
                                    <a href="index.html" class="footer-logo">
                                        <img src="{% static "users/assets/img/logo-white.png" %}" alt="Image">
                                    </a>
                                    <p class="comp-desc">
                                        Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor emque dicta molest enim beatae ame consequ atur tempo pretium auctor nam.
                                    </p>
                                    <div class="newsletter-form">
                                        <input type="email" placeholder="Email Address">
                                        <button type="button">Subscribe Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5 ps-lg-4 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Explore</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="event-details.html">
                                            Fundraise For Health
                                            </a>
                                        </li>
                                        <li>
                                            <a href="event-details.html">
                                            Shelter For Refuge
                                            </a>
                                        </li>
                                        <li>
                                            <a href="event-details.html">
                                                Adopt Orphan Child
                                            </a>
                                        </li>
                                        <li>
                                            <a href="event-details.html">
                                                Education For Poor
                                            </a>
                                        </li>
                                        <li>
                                            <a href="event-details.html">
                                               Clean Water Project
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 ">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Other Pages</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="about.html">
                                            About us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="team.html">
                                               Our Team
                                            </a>
                                        </li>
                                        <li>
                                            <a href="event.html">
                                            Recent Events
                                            </a>
                                        </li>
                                        <li>
                                            <a href="donation.html">
                                            Make Donation
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                               Get In Touch
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Official Info</h3>
                                    <ul class="contact-info list-style">
                                        <li>
                                            <i class="flaticon-pin"></i>
                                            <h6>Location</h6>
                                            <p>2767 Sunrise Street, NY 1002, USA</p>
                                        </li>
                                        <li>
                                            <i class="flaticon-mail"></i>
                                            <h6>Email</h6>
                                            <a href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#0b636e6767644b6867626625686466"><span class="__cf_email__" data-cfemail="e189848d8d8ea1828d888ccf828e8c">[email&#160;protected]</span></a>
                                        </li>
                                        <li>
                                            <i class="flaticon-phone-call"></i>
                                            <h6>Phone</h6>
                                            <a href="tel:13454567877">+1-3454-5678-77</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-6 col-sm-7">
                                <p class="copyright-text"><i class="ri-copyright-line"></i> Clim is proudly owned by <a href="https://hibotheme.com/">HiboTheme</a></p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-5">
                                <ul class="social-profile style1 list-style">
                                    <li>
                                        <a href="https://facebook.com/">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com/">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->